* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #FAFAFA;
    color: #333;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: #DA552F;
}